RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_URI} !^/pages
RewriteCond %{REQUEST_URI} !^/uploads

RewriteRule (.*)/?$ index.php [L]
